* {
	padding: 0;
	margin: 0;
}

html {
	font-family: Verdana, sans-serif;
}

.nav {
	height: 38px;
	padding: 8px 16px;
	background-color: #fff;
	font-size: 15px;
	box-shadow: 0 0 2px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.logo {
	display: inline-block;
	padding: 8px 16px;
	letter-spacing: 4px;
	line-height: 22px;
}

.logo:hover,
.nav-links li:hover {
	cursor: pointer;
	background-color: #ccc;
}

.nav-links {
	display: inline-block;
	float: right;
	line-height: 22px;
}

.nav-links li {
	list-style: none;
	display: inline-block;
	padding: 8px 16px;
}

.nav-links li a {
	text-decoration: none;
	color: #000;
	letter-spacing: 4px;
}

.header {

}

.header .header-img {
	width: 100%;
}

.header .header-heading {
	position: absolute;
	top: 58%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 16px;
	font-size: 36px;
	color: #fff;
	letter-spacing: 4px;
}

.header .header-heading b {
	background-color: #000;
	opacity: 0.75;
	padding: 8px 16px;
}

.content {

}

.footer {

}
